@media (min-width: 600px) {
	html {
		font-size: 1.125em;
	}
}
@media (min-width: 1000px) {
	html {
		font-size: 1.25em;
	}
}
header {
	padding: .5em 0;
}
.logo, .busca, .barra-nav, .menu-principal {
	display: inline-block;
	vertical-align: middle;
}
.barra-nav {
	margin: .4em 0;
}
.menu-principal li {
	float: left;
}
.logo, .secao {
	padding: 0 1%;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.destaques {
	margin-top: 1em;
}
.secao {
	float: left;
	width: 100%;
}
@media (min-width: 600px) {
    .secao {
        width: 50%;
    }
}
@media (min-width: 1000px) {
	.secao {
		width: 33.333%;
	}
}
.mini {
	float: left;
	width: 50%;
}
img {
	max-width: 100%;
}